<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.MovieDao">

	<!-- Movie 정보를 저장한다. -->
	<insert id ="insert" parameterType="Movie" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO movies (title, director, genre, runningTime, img)
		VALUES (#{title},#{director},#{genre},#{runningTime},#{img})
		
	</insert>

	<!-- Movie 정보를 삭제한다.. -->
	<delete id="delete" parameterType="int">
		DELETE FROM movies
		WHERE id = #{id}
	</delete>

	<!-- Movie에서 모든 정보를 검색한다. -->
	<select id="selectAll" resultType="Movie">
		SELECT * FROM movies
	</select>

	<!-- Movie를 제목으로 검색한다. -->
	<select id="search" parameterType="String" resultType="Movie">
		SELECT * FROM movies
		WHERE title LIKE concat('%',#{title},'%');
	</select>
</mapper>